.bodys{
  background-color: rgba(70, 70, 172, 0.548);
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}