{%extends 'base.html'%} {%block content%}
<div class="jumbotron">
  <h3>Please input the enter the desired outcome:</h3>
  <form action="/res" method="POST">
    <table>
      <tr>
        <td align="right">Background:</td>
        <td align="left">
          <select name="backers" required="required">
            <option value="None">None</option>
            <option value="Office">Office</option>
            <option value="Hallway">Hallway</option>
            <option value="Room">Room</option>
            <option value="Meeting">Meeting</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">Cartoonize:</td>
        <td align="left">
          <select name="cartoonize" required="required">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td align="right"><input type="submit" value="submit" /></td>
      </tr>
    </table>
  </form>
</div>

{%endblock%}
